{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1 class="question">{{ question.question_text }} ?</h1>

{% if error_message  %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        {% if question.choice_set.count > 0 %}
        <div class="choice">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }} ">{{ choice.choice_text }}</label>
    <br>
        </div>
        {% endif %}
    {% endfor %}
    {% if question.choice_set.count == 0 %}
     <p>This question does not have any choices associated with it</p>
     {% else %}
   <div style="text-align: center;"></div> <input class="btn btn-primary vote-again" type="submit" value="Vote">
    {% endif %}
</form>
{% endblock %}
</div>
